.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgba(50,50,50,0.5);
    border: 1px solid black;
    border-radius:30px;
}

.main{
  background-color: rgba(50,50,50,0.5);
  color:white;

}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: white;
    color: #f08080;
    font-weight: bold;
}

.container{
  text-align = center;
}

.reg {
  background: url(reg.jpg) no-repeat center center fixed;
}

.log {
  background: url(login.jpg) no-repeat center center fixed;
}

.cercaImm {
  background: url(cerca.jpg) no-repeat center center fixed;
}

.cat {
  background: url(cat.jpg) no-repeat center center fixed;
}
.index{
  background: url(index.jpg) no-repeat center center fixed;
}
